<HTML lang="es-ES">>
	<HEAD>
		<style>

      			h1 {	color:cyan;

        			text-align:center;
			}

      			h3 {	color:green;

        			text-align:center;
			}

      			h4 {	color:blue;
				text-align:center;

      			}

      			h2 {	color:green;

        			text-align:center;
			}
			p {	text-align:center;
			}
    				</style>
	</HEAD>
</HTML>